{% extends 'base.html.twig' %}

{% block body_id %}
{% endblock %}

{% block main %}
    <div class="container body-content">
        <div class="row">
            {% for article in articles %}
                <div class="col-md-9">
                    <article>
                        <header>
                        <h2>{{ article.title }}</h2>
                        </header>

                        <img src="{{ article.imageUrl }}" width="400px" height="200px">

                        <p>
                            {{ article.content }}
                        </p>

                        <footer>
                            <div class="pull-right">
                                <a class="btn btn-danger btn-xs"
                                   href="{{ path('article_delete',{'id':article.id})}}">Delete &raquo;</a>
                            </div>
                            <div class="pull-right">
                                <a class="btn btn-success btn-xs"
                                   href="{{ path('article_edit',{'id':article.id})}}">Edit &raquo;</a>
                            </div>
                            <div class="pull-right">
                                <a class="btn btn-default btn-xs"
                                   href="{{ path('blog_index')}}">back &raquo;</a>
                            </div>
                        </footer>
                    </article>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

